doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/jumbotron-narrow.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    div.container
      div.header.clearfix
        h3.text-muted MOMO DEMO
      block content
      footer.footer
        p &copy; MOMO #{new Date().getFullYear()}