doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/jumbotron-narrow.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    table.table
      thead
        tr
          th(scope='col') Mã sản phẩm
          th(scope='col') Tên sản phẩm
          th(scope='col') Giá
          th(scope='col') Số lượng
          th(scope='col') Tổng tiền
      tbody
        tr
          th(scope='row') 1
          td Mark
          td Otto
          td @mdo
          td @mdo
        tr
          th(scope='row') 2
          td Jacob
          td Thornton
          td @fat
          td @fat
        tr
          th(scope='row') 3
          td Larry the Bird
          td @twitter
          td @twitter
          td @twitter
    table.table
        tbody
            tr
            th(scope='row') Tạm tính
            td 100.000vnd
         tbody
            tr
            th(scope='row') Giảm giá
            td 100.000vnd
         tbody
            tr
            th(scope='row') Thuế (%)
            td 100.000vnd
         tbody
            tr
            th(scope='row') Phí vận chuyển
            td 100.000vnd
         tbody
            tr
            th(scope='row') Tổng tiền
            td 100.000vnd
            

   

        