doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/jumbotron-narrow.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    h2 Mật khẩu mới của bạn là: 
        span.text-center(style='color:red')=data.newPassword