//
   Created by vinhnt on 6/16/2017.

extends layout_momo 

block content
    if code == "0"
        p(style="text-align: center")  Giao dịch thành công
    else
        p(style="text-align: center; color: red") Giao dịch thất bại
   